.scrollFigureContainer {
  position: fixed;
  top: 75%;
  left: -150px;
  transform: translateY(-50%);
  width: 700px;
  height: 700px;
  rotate: -15deg;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 15;
}

.scrollFigure {
  width: 900px;
  height: 900px;
  opacity: 0.15;
  will-change: transform;
}

@media (max-width: 768px) {
  .scrollFigure {
    width: 300px;
    height: 300px;
  }
}
